* {
    box-sizing: border-box;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 2.5px;
    border-radius: 15px;
    text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
    
}

html {
    background-image: url("http://getwallpapers.com/wallpaper/full/c/9/e/1035958-download-free-moon-and-stars-background-2880x1800.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

body { 
    font-size: 16px;
    max-width: 700px; 
    margin: 0 auto; 
    padding-left: 10px;
    padding-right: 10px;
    color: ivory;
    min-width: 320px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: rgba(18, 28, 46, 0.6);
    padding: 10px 30px 10px 30px;
}

header img {
    display: none;
}

h1 {
    font-size: 2.4em;
    text-align: center;
    color: ivory;
    text-shadow:
		-2px -2px 0 #af111c,
		2px -2px 0 #af111c,
		-2px 2px 0 #af111c,
		2px 2px 0 #af111c;
}

main {
    text-align: center;
}

fieldset {
    display: flex;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    border: black solid 1px;
    margin-bottom: 10px;
}

fieldset:focus-within {
    border-color: ivory;
}

section, form {
    border: solid black 1px;
    margin-top: 10px;
    padding: 25px;
    background-color: rgba(18, 28, 46, 0.6);
    padding-bottom: 60px;
}

/* form {
    font-size: 20px;
} */

label {
    text-align: left;
    /* font-size: 20px; */
}

button {
    background-color: #af111c;
    border: black solid 1px;
    padding: 10px 15px 10px 15px;
    color: ivory;
    font-weight: bolder;
    font-size: 1.1em;
    margin-top: 40px;
}

.pop-up {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.ul {
    width: 200px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    max-width: none;
}

li {
    text-align: right;
}

.correct {
    border: green solid 2px;
}

.incorrect {
    border: red solid 2px;
}

input[type="radio"] {
    position: fixed;
    opacity: 0;
}

label:hover {
    font-size: 1.1em;
    color: #adff2f;
}

.currently-selected {
    color: #adff2f;
    /* text-shadow:
		-1px -1px 0 green,
		1px -1px 0 green,
		-1px 1px 0 green,
        1px 1px 0 green; */
        text-decoration: underline;
}

@media screen and (min-width: 700px) {
    body {
        font-size: 20px;
    }

    header {
        padding: 10px;
    }

    header img {
        display: inline;
    }
}