* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.5px;
    color: white;
}

body { 
    max-width: 700px; 
    margin: 0 auto; 
    padding-left: 10px;
    padding-right: 10px;
}

.body-border {
    border-radius: 5px;
    background-color: rgb(3, 115, 179, 0.3);
}

.background-image {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 20px;
}

h1 {
    font-family: 'Metal Mania', sans-serif;
    font-size: 50px;
    text-align: center;
    color:#FF121E;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.ul {
    width: 200px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    max-width: none;
}

li {
    text-align: right;
}

main {
    text-align: center;
}

section {
    padding: 25px;
    padding-bottom: 60px;
}

button {
    background-color: #FF121E;
    width: 200px;
    height: 44px;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 40px;
    border-radius: 5px;
    border: none;
}

form {
    font-size: 20px;
}

fieldset {
    display: flex;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    border: 0;
}

input[type="radio"] {
    position: fixed;
    opacity: 0;
}

label:hover {
    transform: scale(1.1);
    color: #FF121E;
}

.currently-selected {
    color: #FF121E;
    font-weight: bold;
}

.feedback {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 30px;
}

.correct h2 {
    color: #12FF4E;
}

.incorrect h2 {
    color: #FF2B36;
}